.carousel__div img{
    width: 406px;
    height: 226.46px;
    border-radius: 10px;
}

.carousel__div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 406px;
    height: 226.46px;
    }
  
    