.wrapper{
    width: 406px;
height: 456.72px;
    background-color: #FFFEFE;
box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
border-radius: 10px;
z-index: 1;
margin-left: 30.49px;
margin-top: 14px;
}

.container__div{
    display: flex;
    width: 360px;
    height: 30px+345.31px+20px;
    flex-direction: column;
    margin-top: 33px;
    margin-left: 23px;
}
.title__p{
    margin-top: 0px;
    margin-bottom: 26px;
    font-family: 'Inter Bold';
    font-size: 25px;
line-height: 30px;
color: #1E2123;
}
.block1__div{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 34px+6px+15px+10px+0.01px;
    border-bottom: 1px solid #664EF9;
 
 
}
.block1__div p:first-of-type{
margin-top: 0px;
margin-bottom: 0px;
width: 360px;
height: 34px;
a{
    font-family: 'Inter SemiBold';
    font-size: 14px;
line-height: 17px;
color: #1E2123;
}
}
.block1__div p:last-of-type{
    font-family: 'Inter Regular';
    font-size: 12px;
line-height: 15px;
color: #8291A3;
margin-top: 6px;
margin-bottom: 10px;
}
.block2__div{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 9.99px+17px+6px+15px+9.99px+0.01px;
    border-bottom: 1px solid #664EF9;
}

.block2__div p:first-of-type{
    margin-top: 9.99px;
    margin-bottom: 0px;
    width: 360px;
    height: 17px;
    a{
        font-family: 'Inter SemiBold';
        font-size: 14px;
    line-height: 17px;
    color: #1E2123;
    }
    }

.block2__div p:last-of-type{
    font-family: 'Inter Regular';
    font-size: 12px;
line-height: 15px;
color: #8291A3;
margin-top: 6px;
margin-bottom: 9.99px;
} 
.block3__div{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 9.99px+17px+6px+15px+10px+0.01px;
    border-bottom: 1px solid #664EF9;
}
.block3__div p:first-of-type{
    margin-top: 9.99px;
    margin-bottom: 0px;
    width: 360px;
    height: 17px;
    a{
        font-family: 'Inter SemiBold';
        font-size: 14px;
    line-height: 17px;
    color: #1E2123;
    }
    }

    .block3__div p:last-of-type{
        font-family: 'Inter Regular';
        font-size: 12px;
    line-height: 15px;
    color: #8291A3;
    margin-top: 6px;
    margin-bottom: 10px;
    } 

.blockOther__div{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 9.79px+17px+6px+15px+10.21px;
    border-bottom: 1px solid #664EF9;

}
.blockOther__div p:first-of-type{
    margin-top: 9.79px;
    margin-bottom: 0px;
    a{
        font-family: 'Inter Semibold';
        font-size: 14px;
line-height: 17px;
color: #664EF9;
    }
}

.blockOther__div p:last-of-type{
    font-family: 'Inter Regular';
    font-size: 12px;
line-height: 15px;
color:#8291A3;
margin-top: 6px;
    margin-bottom: 10.21px;
}

.blockLast__div{
    display: flex;
    width: 360px;
    height: 9.98px+17px+6px+15px;
    flex-direction: column;
}
.blockLast__div p:first-of-type{
    margin-top: 9.98px;
    margin-bottom: 0px;
    a{
        font-family: 'Inter Semibold';
        font-size: 14px;
line-height: 17px;
color: #1E2123;
    }
}
.blockLast__div p:last-of-type{
    font-family: 'Inter Regular';
    font-size: 12px;
line-height: 15px;
color: #8291A3;
margin-top: 6px;
margin-bottom: 0px;

}
.bottom__div{
    margin-top: 32.31px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px+5px+20px;
    height: 20px;
}

.bottom__div p{
    margin-top: 0px;
    margin-bottom: 3px;
    width: 116px;
height: 20px;
    a{
        font-family: 'Inter Bold';
        font-size: 14px;
line-height: 17px;
color: #664EF9;
    }
}
.bottom__div img{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}