.card__div{
    margin-top: 20px;
    width: 81px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    background-color:rgba(102, 78, 249, 0.1);
    a{
      width: 51px;
  height: 17px;
  font-family: 'Inter Bold';
  font-size: 14px;
  line-height: 17px;
  color: #664EF9;
    }
  
}