
@font-face {
  src: url("../../fonts/static/Inter-Regular.ttf");
  font-family: "Inter Regular";
}

@font-face {
  src: url("../../fonts/static/Inter-Bold.ttf");
  font-family: "Inter Bold";
}
@font-face {
  src: url("../../fonts/static/Inter-Medium.ttf");
  font-family: "Inter Medium";
}
@font-face {
  src: url("../../fonts/static/Inter-SemiBold.ttf");
  font-family: "Inter SemiBold";
}
footer{
  display: flex;
  height: 250px;
}
.block-footer__div_center{
  display:flex;
  margin: 39px 161px 47px 80px;
  width:297px+880px+22px;
  height:30px+113px+17px;
}
.block-footer__div_left{
  display: flex;
  width: 297px;
  height: 78px+61px+19px;
  flex-direction: column;
}
.block-footer-logo__div{
  display:flex;
  width: 134px;
  height: 44px;
  flex-direction:column;
 
  img{
    width:134px;
    height: 19px;
  }
  p{
    display:flex;
    width: 73px;
    height: 15px;
    margin: 10px 0px 0px 0px;
    font-family: 'Inter Medium';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #8291A3;
  }
  
}
.block-info-ip__div{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 297px;
  height: 78px;
  margin: 36px 0px 0px 0px;
  p{
    font-family: 'Inter Regular';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
color: #8291A3;
margin:0px;
  }
}
.block-footer__div_right{
  display:flex;
  flex-direction:column;
  
  width:149px+701px+22px;
  height:17px+124.29px+30px;
}
.block-info-footer__div_up{
  display:flex;
  width:149px+507.5px+156px;
  height:17px+62px+17px;
  justify-content:space-between;
}
.block-info__ul_boldLeft{
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  width:149px;
height:17px+59px+17px;
padding:0px;
margin:0px;
li{
  font-family: 'Inter Bold';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #1E2123;
}
}
.block-info-home__div{
  display:flex;
  width:133px;
  height:17px+62px+17px;
  flex-direction:column;
  p{
    font-family: 'Inter Bold';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #1E2123;
margin:0px 0px 12px 0px;


  }
  .block-info-home__ul_first{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
     width:136px;
height:17px+33px+17px;
padding:0px;
margin:0px;
li{
  font-family: 'Inter Regular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #8291A3;
}

  }
}
.block-info-home__ul_second{
  margin-top:12px+17px;
  display:flex;
    flex-direction:column;
    justify-content:space-between;
     width:147px;
height:17px+33px+17px;
padding:0px;

li{
  font-family: 'Inter Regular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #8291A3;
}

  }
  .block-info__ul_three{
     margin-top:4px;
  display:flex;
    flex-direction:column;
    justify-content:space-between;
     width:156px;
height:17px+58px+17px;
padding:0px;

li{
  font-family: 'Inter Regular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #8291A3;
}

  }
  .block-info-footer__div_bottom{
    display:flex;
    justify-content:space-between;
    width:104px+746px+22px;
    height:30px;
    margin-top:42px;
    .block-info-footer__div_bottomLeft{
      display:flex;
      width:104px+114.81px+30px;
      height:30px;
      justify-content:space-between;
      align-items:center;
      p{
        font-family: 'Inter Medium';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color:#1E2123;
width:104px;
height:17px;
margin:0px;
display:flex;

      }
      .block-icons-message__div{
        display:flex;
        width:30px+65px+30px;
        height:30px;
        justify-content:space-between;
      }
    }
  }
.block-info-footer__div_bottomRight{
  display:flex;
  width:42px+275px+22px;
  height:30px;
  justify-content:space-between;
  align-items:center;
  img:nth-child(1){
    width:42px;
    height:13px;
  }
  img:nth-child(2){
    width:86px;
    height:16px;
  }
  img:nth-child(3){
    width:38px;
    height:16px;
  }
  img:nth-child(4){
    width:26px;
    height:20px;
  }
  img:nth-child(5){
    width:46px;
    height:16px;
  }
  img:nth-child(6){
    width:22px;
    height:30px;
  }
}