.card__div_left{
  
        width: 125px;
      height: 37px;
      margin-top: 20px;
      background-color: #F8F8F8;
      border-radius: 18px;
      p{
        width: 109px;
      height: 17px;
      font-family: 'Inter Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #8291A3;
      margin: 10px 8px 10px 8px;
      text-align: center;
      }
      
}