.mark__button{
    border-radius: 22px;
    width: 133px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(235, 87, 87, 0.1);
    border: 0px;
    font-family: 'Inter SemiBold';
    font-size: 14px;
line-height: 17px;
color: #EB5757;
}

.mark__button img{
    width: 15px;
    height: 15px;
    margin-left: 9.93px;
}