@font-face {
  src: url("../../fonts/static/Inter-Regular.ttf") format('truetype');
  font-family: "Inter Regular";
  font-weight: 400;
    font-size: 14px;
 
}
@font-face {
  src: url("../../fonts/static/Inter-Medium.ttf");
  font-family: "Inter Medium";
}



.header{
  display: flex;
  width: 1440px;
  margin: 0px;
  height: 40px;
  background-color:  #F8F8F8;
nav{
  display: flex;
  margin: 11px 0px 12px 80px;
  ul{display: flex;
    justify-content: space-between;
  width: 724.06px;
  height: 17px;
    margin: 0px;
    padding: 0px;
    li{list-style:none;
   a{
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color:#8291A3;
   }
  }
   
  }
  li:nth-child(1){
    width: 56px;
    height: 17px;
  }
  li:nth-child(2){
    width: 59px;
    height: 17px;
  }
  li:nth-child(3){
    width: 156px;
    height: 17px;
  }
  li:nth-child(4){
    width: 160.06px;
    height: 17px;
    a{
    color:#1E2123;
    img{
      width: 8.06px;
      height: 10px;
      margin-right: 5px;
    }
    }
  }
  li:nth-child(5){
    width: 65px;
    height: 17px;
   
  }
  
    .link__a_underline{ 
      border-bottom: 3px #FFD54F solid;
     padding-bottom: 9px;
    }
    
  
}
}
.block-header__div_group{
  display:flex;
  margin: 11px 79.1px 12px 283.84px;
  width: 273px;
  height: 17px;
  flex-direction: flex;
  justify-content: space-between;
  .block-header__div_left{
    display: flex;
    width: 94px;
    height: 17px;
    justify-content: space-between;
    a{
     color:#8291A3;
     font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
    }
    img{
      width: 16px;
      height: 16px;
    }
   
  }
  .block-header__div_right{
    display: flex;
    a{
      font-family: 'Inter Medium';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #664EF9;
    }
  }
}


