.info__div{
    width: 87px;
    height: 34.1px;
    border-radius: 18px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    border: 0px;
    justify-content: center;
    }


    .info__div p{
    font-family: 'Inter Medium';
    font-size: 14px;
line-height: 17px;
color: #686868;
margin: 0px 0px 0px 6px;
}

.info__div img{
    width: 15px;
    height: 15px;
}