.registration__input{
    background-color: #F7F7F7;
border-radius: 30px;
font-family: 'Inter Medium';
font-size: 14px;
line-height: 17px;
color: #686868;
box-sizing: border-box;
padding: 0px 0px 0px 55px;
border:0px;
width: 306px;
height: 50px;
}