.card__div_bottom{
    
        margin-top:25px;
        display: flex;
        justify-content: space-between;
        width: 367.25px;
        height: 20px+37px;
        border-top: 2px solid #F8F8F8;
        
      
}