.slid1__div{
    background-color: #E0E0E0;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
width: 406px;
height: 226.46px;
}
.slid1__div img{
    width: 165px;
    height: 226px;
}

.slid2__div{
display: flex;
align-items: center;
justify-content: center;
width: 406px;
height: 226.46px;
}
.slid2__div img{
    width: 406px;
height: 226.46px;
border-radius: 10px;
}

