.err__btn{
    background-color: #EB5757;
border-radius: 33px;
width: 306px;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
border:0px;
font-family: 'Inter Bold';
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
margin-bottom: 20px;
}

.errOther{
width: 20px;
height: 20px;
margin: 0px 0px 0px 15px;
}