.groupright__div{
    display: flex;
    flex-direction: column;
    width: 45px;
    height: 45px*3+30px;
    justify-content: space-between;
    align-items: center;
    img{
        width: 45px;
        height: 45px;
    }
   
}