.locat__button{
    background-color: #FFFFFF;
border-radius: 19px;
width: 167px;
height: 37px;
display: flex;
align-items: center;
justify-content: center;
border:0px;
font-family: 'Inter SemiBold';
font-size: 14px;
line-height: 17px;
color:#1E2123;
}

.locat__button img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}