
  img{
    width: 440px;
    height: 226.46px;
  }
  .card-title__p_center{
    width:357.54px;
    height: 38px;
    font-family: 'Inter Bold';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
margin: 0px;
  }

.card-text__div_bottom {
  margin-top:25px;//Проверить
  height: 273.54px;
  width: 406px;
  display: flex;
  flex-direction:column;
  align-items:center;
}
  .card-text-info__p{
    margin: 15px 0px 0px 0px;
    width: 365.54px;
    height: 85px;
    font-family: 'Inter Regular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #8291A3;
  }




