
.block-news-title__section{
height:280px;
background:linear-gradient(90deg,rgba(148, 175, 255, 0.1), rgba(78, 100, 249, 0.1)); /*Заменил liner-gradient */
flex-direction:column;

.title-main-news__p_center{
  width: 790px;
height: 30px;
margin-top:25px;
margin-left: 298.35px;
margin-bottom: 0px;
font-family: 'Inter Bold';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 100%;
}

.main-news__div_bottom{
  display:flex;
  margin-top:30px;
  width:141px+668.87px+34.15px;
  justify-content:space-between;
  margin-left:298.8px;
  height: 37px;
  .icons-news__div_right{
    display: flex;
    width: 83px+230.87+34.15px;
    height: 34.15px;
    align-items:center;
    justify-content: space-between;
    p{
      display: flex;
      width: 83px;
height: 17px;
font-family: 'Inter Regular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #1E2123;
    }
      .icons-background__div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34.15px;
        height: 34.15px;
        background: rgba(102, 78, 249, 0.1);
        border-radius: 19px;
      }
     
  }
} 
    
} 

.iconsbackground__img{
  width: 17.07px;
  height: 17.07px;
}

.iconsbackground__img_other{
  width: 19.82px;
  height: 19.82px;
}

