.navigation__section{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    margin: 0px;
    height: 60px;
    .navigation__div{
      display: flex;
      align-items: center;
      margin: 11px 79px 12px 80px;
      a{
        img{
  width: 134px;
  height: 19px;
        }
      }
      nav{
        display: flex;
        margin-left: 83.9px;
        ul{
          width: 747.09px;
          height: 17px;
          justify-content:space-between;   
  display: flex;
  margin: 0px;
  padding-left: 0px;
  li{
    list-style: none;
    a{
      font-family: 'Inter SemiBold';
  font-size: 14px;
  line-height: 17px;
  color:#1E2123;
    }
  }
        }
        li:first-of-type{
          width: 161.09px;
          height: 17px;
          svg{
            width: 12.09px;
            height: 15px;
            margin-left: 15px;
            path{
            fill:#FFD54F;
            }
          }
        }
        li:nth-child(2){
          width: 147px;
          height: 17px;
        }
        li:nth-child(3){
          width: 96px;
          height: 17px;
        }
        li:last-of-type{
          width: 103px;
          height: 17px;
        }
      }
  
    }
    
  }