.blockLogin__div{
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 57px;
}

.blockLogin__img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.blockLogin__div p{
    font-family: 'Inter Medium';
font-size: 14px;
line-height: 17px;
margin-right: 10px;
}
.blockLogin__div button{
    border:0px;
    outline: 0;
    width: 18px;
    height: 17.03px;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #F8F8F8;
}
    

.clickLogin__img{
    width: 18px;
    height: 17.03px;
}
