.wrapper__div {
    display: flex;
    width: 406px;
    height: 522px;
    background-color: #FFFEFE;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    margin-right: 30.7px;
}
.descript__div{
    display: flex;
    flex-direction: column;
    height: 262.11px;
    width: 365.54px;
    margin-left: 19px;
    margin-top: 21.24px;
}
