.main__img{
    width: 406px;
    height: 226.46px;
    border-radius: 10px;
}
.title__p{
    width: 357.54px;
    height: 38px;
    font-family: "Inter Bold";
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}
.info__p{
    margin: 15px 0px 0px 0px;
    width: 365.54px;
    height: 85px;
    font-family: "Inter Regular";
    font-size: 14px;
    line-height: 17px;
    color: #8291A3;
}
