.header__div{
        display: flex;
        a{
          font-family: 'Inter Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #664EF9;
        }   
}